<div class="row">
  @if(isMobile != true){
    <nav class="navbar navbar-lg bg-dark col-3" data-bs-theme="dark">
      <div class="container-fluid col-12 " style="margin-left: 8px;">
          <div class="col-12">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <a class="navbar-brand ms-3" href="#">Navbar</a>
              <img  src="../../../assets/images/Logo.jpg" class="rounded-circle navbar-brand-logo" alt="...">
          </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="dashboard"><i class="fa-solid fa-house"></i> Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="login">Log In</a></li>
                  <li><a class="dropdown-item" routerLink="register">Register</a></li>
                  @if(isLoggedIn){
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <button type="button" class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
                    </li>
                  }
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-dark col-9" data-bs-theme="dark">
      <div class="container-fluid col-sm-12">
          <div class="justify-content-start col-4">
            @if(isLoggedIn){
              <form class="d-flex col-12" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light rounded-circle" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            }
          </div>
          <div class="navbar-brand col-5 d-flex justify-content-end">
            <ul class="navbar-nav d-flex flex-row">
              @if(isLoggedIn){
              <li class="nav-item ms-3">
                <a class="nav-link active" routerLink="dashboard"><i class="fa-solid fa-house"></i> Inicio</a>
              </li>
              <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle active link-opacity-50-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-gear"></i> Configuracion
                </a>
                <ul class="dropdown-menu fixed">
                  <li><a class="dropdown-item" routerLink="registarProductos">Registrar Productos</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item ms-3">
              </li>
              <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle active link-opacity-50-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-user"></i> @defer (when user) { {{user.name}} }
                </a>
                <ul class="dropdown-menu fixed">
                  <li><p class="dropdown-item">Name: @defer (when user) { {{user.name}} }</p></li>
                  <li><p class="dropdown-item">Email:  @defer (when user) { {{user.email}} }</p></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="cambioPassword"><i class="fa-solid fa-key"></i> Update password</a></li>
                </ul>
              </li>
              <li class="nav-item ms-3">
                <button type="button" class="btn btn-danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
              </li>
              }@else {
                <li class="nav-item ms-3">
                  <a class="nav-link active" routerLink="dashboard"><i class="fa-solid fa-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item ms-2">
                  <a class="nav-link" routerLink="register">Register</a>
                </li>
              }
            </ul>
          </div>
      </div>
    </nav>
  }@else {
    <nav class="navbar navbar-lg bg-dark col-12" data-bs-theme="dark">
      <div class="container-fluid col-12 " style="margin-left: 8px;">
          <div class="col-12 row">
            <div class="col-4 justify-content-start">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="col-8 justify-content-center">
              <a class="navbar-brand ms-3" href="#">Navbar</a>
              <img  src="../../../assets/images/Logo.jpg" class="rounded-circle navbar-brand-logo" alt="...">
            </div>
          </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="dashboard"><i class="fa-solid fa-house"></i>Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  }
</div>

<main class="container-fluid col-10 page-body-wrapper mt-5">
    <router-outlet></router-outlet>
</main>
